<div class="col-md-4">
    <!--<div class="single-sidebar">
        <h2 class="sidebar-title">Search Products</h2>
        <form action="">
            <input type="text" (keyup)="loc_san_pham($event)" placeholder="Search products...">
            <input type="submit"  value="Search">
        </form>
    </div>-->
    
    <div class="single-sidebar">
        <h2 class="sidebar-title">Products</h2>
        <div *ngFor="let sp of listSingleProductLeft" class="thubmnail-recent">
            <img src="img/{{sp.image}}" class="recent-thumb" alt="">
            <h2><a href="">{{sp.desc}}</a></h2>
            <div *ngIf="sp.old_price>0" class="product-sidebar-price">
                <ins>${{sp.new_price}}</ins> <del>${{sp.old_price}}</del>
            </div>                             
             <div *ngIf="sp.old_price==''" class="product-sidebar-price">
                <ins>${{sp.new_price}}</ins> <del></del>
            </div>                             
         
        </div>
        <!--<div class="thubmnail-recent">
            <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
            <h2><a href="">Sony Smart TV - 2015</a></h2>
            <div class="product-sidebar-price">
                <ins>$700.00</ins> <del>$100.00</del>
            </div>                             
        </div>
        <div class="thubmnail-recent">
            <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
            <h2><a href="">Sony Smart TV - 2015</a></h2>
            <div class="product-sidebar-price">
                <ins>$700.00</ins> <del>$100.00</del>
            </div>                             
        </div>
        <div class="thubmnail-recent">
            <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
            <h2><a href="">Sony Smart TV - 2015</a></h2>
            <div class="product-sidebar-price">
                <ins>$700.00</ins> <del>$100.00</del>
            </div>                             
        </div>-->
    </div>