<div class="col-md-8">
<div class="product-content-right">
<div  *ngIf="productDetail " class="product-breadcroumb">
    <a href="">Trang chủ</a>
    <a href="">Chi tiết sản phẩm</a>
    <a>{{productDetail.ten_san_pham}}</a>
</div>

<div class="row" *ngIf="productDetail" >
    <div class="col-sm-6">
        <div class="product-images">
            <div class="product-main-img">
                <img  src="images/san_pham/{{productDetail.hinh_san_pham}}" alt="">
            </div>
   
        </div>
    </div>
    
    <div class="col-sm-6">
        <div class="product-inner">
            
            <h2 class="product-name">{{productDetail.ten_san_pham}}</h2>
            <div class="product-inner-price">
                <ins>{{productDetail.don_gia | currency:'VND':true}}</ins>
            </div>    
            
            <form  action="" class="cart">
                <div class="quantity">
                    <input id="slsp" type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                </div>
                <button  class="add_to_cart_button" (click)="addToCart(productDetail)" type="submit">Thêm vào giỏ hàng</button>
            </form>   
            
            <div class="product-inner-category">
                <p>Category: <a href="">Summer</a>. Tags: <a href="">awesome</a>, <a href="">best</a>, <a href="">sale</a>, <a href="">shoes</a>. </p>
            </div> 
            
            <div role="tabpanel">
                <ul class="product-tab" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Mô tả</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Nhận xét</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home">
                        <h2>Chi tiết sản phẩm</h2>
                        <div [innerHTML]="productDetail.mo_ta_chi_tiet">
                            
                        </div>
                        

                      
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="profile">
                        <h2>Nhận xét</h2>
                        <form (ngSubmit)="clickReviews(form_reviews)" *ngIf="!isReviewed; else ket_qua_review" class="submit-review form_review" #form_reviews="ngForm">
                            <label for="name">Tên</label> <input id="tenreview" required #ten_review="ngModel" [(ngModel)]="user_review.ten" name="name" type="text">
                                <div *ngIf="!ten_review.valid && ten_review.dirty" class="panel panel-warning">
                                    <div class="panel-body">
                                            Vui lòng nhập họ tên của bạn
                                    </div>
                                </div>
                          
                            <label for="email">Email</label> 
                            <input id="emailreview"  required #email_review="ngModel" email [(ngModel)]="user_review.emailuser" name="email" type="email">
                                     <div *ngIf="!email_review.valid && email_review.dirty" class="panel panel-warning">       
                                        <div *ngIf="email_review.errors.required" class="panel-body">
                                                Vui lòng nhập email
                                        </div>
                                        <div *ngIf="email_review.errors.email &&user_review.emailuser!=''" class="panel-body">
                                                Email sai định dạng
                                        </div>
                                    </div>
                               
                            <label for="review">Nội dung nhận xét</label> <textarea required name="review" #danh_gia="ngModel" [(ngModel)]="user_review.danh_gia" id="danhgia" cols="30" rows="10"></textarea>
                            <div *ngIf="!danh_gia.valid && danh_gia.dirty" class="panel panel-warning">
                                    <div class="panel-body">
                                            Vui lòng nhập đánh giá 
                                    </div>
                                </div>
                           <input type="submit"  class="btn btn-primary" value="Submit" [disabled]="form_reviews.form.invalid"/>
                        </form>
                    
                    </div>
                        <ng-template #ket_qua_review>
        
                           <h3>Kết quả đánh giá:</h3>
                            Họ tên: {{user_review.ten}}<br>
                             Email: {{user_review.email_review}}<br>
                              Đánh giá: {{user_review.danh_gia}}<br>
                        </ng-template>
                </div>
            </div>
            
        </div>
    </div>
 
</div>
