<!-- Trigger the modal with a button -->
<ng-template #logged>
    <nav class="navbar">
        <a *ngIf="UserLogIn" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>
    {{UserLogIn.email}}
</a>
        <ul class="dropdown-menu">
            <li><a href="#">Hồ Sơ</a></li>
            <li><a href="#">Sản phẩm đã chọn</a></li>
            <li><a href="#">Sản phẩm yêu thích</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" (click)="logout()">Thoát tài khoản</a></li>
        </ul>
    </nav>
</ng-template>
<a *ngIf="!UserLogIn;else logged" href="#login-modal" data-toggle="modal">
                                <i class="glyphicon glyphicon-log-in"></i>&nbsp;&nbsp;Đăng nhập</a>

<div class="modal  fade in" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false"
    style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <ng-template #login_status>
                <span>Đăng nhập thành công</span>
            </ng-template>
            <div class="login-detail" *ngIf="!process_login_success;else login_status">
                <h1>Đăng nhập</h1><br>
                <form>
                    <input id="emailUser" type="text" #email name="email" placeholder="Email">
                    <input id="matkhauUser" type="password" #matkhau name="pass" placeholder="Password">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Đăng nhập" (click)="btn_log_in(email, matkhau)">
                </form>

                <div class="login-help">
                    <a href="#">Quên tài khoản!</a>
                </div>
            </div>
        </div>
    </div>
</div>
