  <div id="main">
       <fieldset style="float:left;margin-right:30px;">
            <legend style="width:500px;">Liên hệ với chúng tôi</legend>
            
            <table style="width:500px;" class="table table-hover">
                <thead>
                    <tr>
                        <th>Họ tên</th>
                        <th>Điện thoại</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Huy Hớn</td>
                        <td>01694 493 293</td>
                        
                    </tr>
                    <tr>
                        <td>Thanh Tam</td>
                        <td>093 438 234</td>
                        
                    </tr>
                    <tr>
                        <td>Minh Đặng </td>
                        <td>01234 383 234</td>
                        
                    </tr>
                     <tr>
                        <td>Tuấn Toàn </td>
                        <td>0134 343 234</td>
                        
                    </tr>
                     <tr>
                        <td>Đức Linh </td>
                        <td>0984 993 244</td>
                        
                    </tr>
                </tbody>
            </table>
            
        </fieldset>     
         <img id="imglienhe" src="../images/lienhe.png"/>
        <form >
            <fieldset style="width:500px;"> 
            <legend>Để lại lời nhắn</legend>
            <label class="label-info">Họ tên</label><input class="input-info" placeholder="Nhập họ tên" type='text' name='txtHt' size='45' /><br />
            <label  class="label-info">Email</label><input class="input-info" placeholder="Nhập email"  type='email' name='txtEmail' size='45' /><br />
             <label  class="label-info">Lời nhắn</label><textarea name="comment" placeholder="Nhập lời nhắn"  form="usrform" cols='40'></textarea>
        
            </fieldset>     
            
            <button style="margin-left:140px;" type="submit" class="btn btn-primary">Gửi</button>
                        
        </form>
       
 </div>

 