<div class="footer-top-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="footer-about-us">
                    <h2>u<span>Stora</span></h2>
                    <p>Sự lựa chọn đáng tin cậy dành cho bạn. Hãy đến với chúng tôi ngay hôm nay</p>
                    <div class="footer-social">
                        <a ><i class="fa fa-facebook"></i></a>
                        <a ><i class="fa fa-twitter"></i></a>
                        <a ><i class="fa fa-youtube"></i></a>
                        <a><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">Sản phẩm</h2>
                    <ul>
                        <li><a href="#">Iphone</a></li>
                        <li><a href="#">Samsung </a></li>
                        <li><a href="#">LED TV</a></li>
                        <li><a href="#">Laptop</a></li>
                        
                    </ul>                        
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="footer-newsletter">
                    <h2 class="footer-wid-title">Gửi Email nhận thông tin sản phẩm</h2>
                    <p>Nhập email để nhận thông tin sản phẩm mới nhất từ chúng tôi</p>
                    <div class="newsletter-form">
                        <form action="#">
                            <input type="email" placeholder="Nhập Email của bạn">
                            <input type="submit" value="Theo dõi">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>