<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <li><a href="#"><i class="fa fa-user"></i> Team02</a></li>
                        <li><a href="#"><i class="fa fa-user"></i> My Cart</a></li>
                        <li><!-- Trigger the modal with a button -->
                            <a href="#"  data-toggle="modal" data-target="#login-modal">
                                <i class="glyphicon glyphicon-log-in"></i>&nbsp;&nbsp;Login</a>

                                <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog">
                                            <div class="loginmodal-container">
                                                <h1>Login to Your Account</h1><br>
                                            <form>
                                                <input type="text" name="email" placeholder="Email">
                                                <input type="password" name="pass" placeholder="Password">
                                                <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                                            </form>
                                                
                                            <div class="login-help">
                                                <a  href="#">Register</a> - <a href="#">Forgot Password</a>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                        </li>
                        
                         <li [class]="locationPath != '/sign-up' ? 'active':''"><a href="sign-up"><i class="fa fa-user"></i> Sign up</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="header-right">
                    <ul class="list-unstyled list-inline">
                        <li class="dropdown dropdown-small" *ngFor="let items of listSetting" >
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">{{items.name}} :</span><span class="value">{{items.default}} </span><b class="caret"></b></a>
                            <ul class="dropdown-menu" *ngIf="items.child" >
                                <li><a href="#" *ngFor="let item of items.child" >{{item}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

 	