<div class="nd">
  <div class="tieudechat" (click)=MinimizeChat($event) >
       -- Chat online with us --
      <span style="position:absolute;right:5px;top:10px;" class="glyphicon glyphicon-minus-sign"></span>
  </div>
  <div class="kqchat" >
    <div class="xuatNd">
        <div *ngFor="let kt of mangChat">
        <!--Nội dung bạn chat: {{mess}}-->
        <div class="item_chat {{(kt.people == 1)?'owner':''}}">{{kt.noidung}}</div>
        <div style="clear: both;"></div>
        </div>
    </div>
    
  </div>
    <div class="noidungchat" >
     
        <textarea placeholder="Type your message here..."  onfocus="this.placeholder=''" onblur="this.placeholder='Type your messege here...'"  (blur)="thongBaoChat($event)" #ndtn  (keyup.enter)="xuatMess($event)"></textarea>
         <button style="margin-left: 230px;margin-top:-100px;" class="btn btn-primary" (click)="sendMess(ndtn)">Send</button>
    </div>
   
</div>
