
<header-template> </header-template>
<!-- End header area -->

<site-branding-template> </site-branding-template> 
<!-- End site branding area -->

<mainmenu-template> </mainmenu-template>   
<!-- End mainmenu area -->
<router-outlet></router-outlet>
<!--<home-content *ngIf="locationPath == '/home'" > </home-content>
<single-shop-product-content *ngIf="locationPath == '/shop'" > </single-shop-product-content>
<sign-up *ngIf="locationPath == '/sign-up'" > </sign-up>-->
<!-- End Main Content-->

<footer-top-template> </footer-top-template>
<!-- End footer top area -->

 <footer-bottom-template> </footer-bottom-template>   
<!-- End footer bottom area -->

<chat></chat>

 