<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <h2 class="section-title">Sản phẩm mới</h2>
                    <div class="product-carousel">
                        <div *ngFor="let item of listProducts" class="single-product">
                            <div class="product-f-image">
                                <img src="img/{{item.image}}" alt="">
                                <div class="product-hover">
                                    <a class="add-to-cart-link" (click)="AddToCart(item)"><i class="fa fa-shopping-cart"></i>Thêm</a>
                                    <a class="view-details-link"><i class="fa fa-link"></i>Xem chi tiết</a>
                                </div>
                            </div>
                            <h2><a href="#">{{item.desc}}</a></h2>

                            <div class="product-carousel-price" *ngIf="item.old_price > 0">
                                <ins>${{item.new_price}}</ins>
                                <del>${{item.old_price}}</del>
                            </div>

                            <div class="product-carousel-price" *ngIf="item.old_price == 0">
                                <ins>${{item.new_price}}</ins>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
