<form action="" method="POST" role="form" class="form_dang_ky" #form_dang_ky="ngForm">
    <legend>Đăng ký thành viên</legend>

    <div class="form-group">
        <label for="">Họ tên</label>
        <input required #ho_ten="ngModel" [(ngModel)]="nguoi_dung.HoTen"   type="text" class="form-control" name="ho_ten" placeholder="Nhập họ tên">
        
        <div *ngIf="!ho_ten.valid && ho_ten.dirty" class="panel panel-warning">
              <!--<div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
              </div>-->
              <div class="panel-body">
                    Vui lòng nhập họ tên
              </div>
        </div>
        
    </div>
    <div class="form-group">
        <label for="">Email</label>
        <input required pattern="\S+@\S+\.\S+" #email="ngModel" [(ngModel)]="nguoi_dung.Email" type="text" class="form-control" name="email" placeholder="Nhập email">
          <div *ngIf="!email.valid && email.dirty" class="panel panel-warning">
              <!--<div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
              </div>-->
              <div *ngIf="email.errors.pattern"  class="panel-body">
                  Email nhập sai định dạng
              </div>
              <div *ngIf="email.errors.required" class="panel-body">
                    Vui lòng nhập email
              </div>
        </div>
    </div>
    <div class="form-group">
        <label for="">Mật khẩu</label>
        <input required #mat_khau="ngModel" [(ngModel)]="nguoi_dung.MatKhau" type="password" class="form-control" name="mat_khau" placeholder="Nhập mật khẩu">
          <div *ngIf="!mat_khau.valid && mat_khau.dirty" class="panel panel-warning">
              <!--<div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
              </div>-->
              <div class="panel-body">
                    Vui lòng nhập mật khẩu
              </div>
        </div>
    </div>
    <div class="form-group">
        <label for="">Số điện thoại</label>
        <input required #dien_thoai="ngModel" [(ngModel)]="nguoi_dung.DienThoai" type="text" class="form-control" name="dien_thoai" placeholder="Nhập số điện thoại">
          <div *ngIf="!dien_thoai.valid && dien_thoai.dirty" class="panel panel-warning">
              <!--<div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
              </div>-->
              <div class="panel-body">
                    Vui lòng nhập họ tên
              </div>
        </div>
    </div>
    <div class="form-group">
        <label for="">Ngày tháng năm sinh</label>
        <input required #ngay_sinh="ngModel" [(ngModel)]="nguoi_dung.NgaySinh" type="text" class="form-control" name="ngay_sinh" placeholder="Nhập ngày tháng năm sinh">
          <div *ngIf="!ngay_sinh.valid && ngay_sinh.dirty" class="panel panel-warning">
              <!--<div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
              </div>-->
              <div class="panel-body">
                    Vui lòng nhập ngày sinh
              </div>
        </div>
    </div>
    <div class="form-group">
        <label for="">Địa chỉ</label>
        <input required #dia_chi="ngModel" [(ngModel)]="nguoi_dung.DiaChi" type="text" class="form-control" name="dia_chi" placeholder="Nhập địa chỉ">
          <div *ngIf="!dia_chi.valid && dia_chi.dirty" class="panel panel-warning">
              <!--<div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
              </div>-->
              <div class="panel-body">
                    Vui lòng nhập địa chỉ
              </div>
        </div>
    </div>
 

    

    <button type="submit" class="btn btn-primary" [disabled]="!form_dang_ky.form.valid" >Submit</button>
    <!--<button type="submit" class="btn btn-primary" [disabled]="!form_dang_ky.form.invalid" >Submit</button>-->
</form>


