<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a [routerLink]="['']" routerLinkActive="active-routing" [routerLinkActiveOptions]="{exact: true}">Trang chủ</a></li>
                    <li><a [routerLink]="['/single-shop-product-content']" routerLinkActive="active-routing">Chi tiết sản phẩm</a></li>
                    <li><a [routerLink]="['/single-product-content']"  routerLinkActive="active-routing">Giỏ hàng</a></li>
                    <li><a>Sản phẩm</a>
                        <!--<div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="true">
                                Dropdown
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a [routerLink]="['product-detail/list', 'apple']">Apple</a></li>
                                <li><a [routerLink]="['product-detail/list','samsung']">Samsung</a></li>
                                <li><a [routerLink]="['product-detail/list','nokia']">Nokia</a></li>
                                <li><a [routerLink]="['product-detail/list','lg']">LG</a></li>
                                <li><a [routerLink]="['product-detail/list','blackberry']">Blackberry</a></li>
                            </ul>
                        </div>-->
                    </li>
                    <li><a>Liên hệ</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>