<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <!--<div class="navbar-collapse collapse">-->
            <!--<ul class="nav navbar-nav">-->
            <ul>
                <li><a [routerLink]="['']" routerLinkActive="active-routing" [routerLinkActiveOptions]="{exact: true}">Trang chủ</a></li>
                <li><a>Sản phẩm</a>
                    <div class="submenu">
                        <ul>
                            <div class="col-sm-12">
                                <li class="col-sm-2"><a>Laptop</a></li>
                                <li class="col-sm-2"><a>Printer</a></li>
                                <li class="col-sm-2"><a>Router/Switch</a></li>
                                <li class="col-sm-2"><a>Webcam</a></li>
                                <li class="col-sm-2"><a>Máy chiếu</a></li>
                                <li class="col-sm-2"><a>CPU</a></li>
                                <li class="col-sm-2"><a>Loa nguyên bộ</a></li>
                                <li class="col-sm-2"><a>Ổ cứng rời</a></li>
                            </div>
                        </ul>
                    </div>
                </li>
                <li><a [routerLink]="['/shopping-cart']" routerLinkActive="active-routing">Giỏ hàng</a></li>
                <li><a [routerLink]="['/contact']" routerLinkActive="active-routing">Liên hệ</a></li>
            </ul>
        </div>
        <!--</div>-->
    </div>
</div>


<!--<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="mainmenu">
                    <ul>
                        <li><a href="">Item1</a>
                            <div class="submenu">
                                <ul>
                                    <li><a href="">Sub1-Item1</a></li>
                                    <li><a href="">Sub2-Item1</a></li>
                                    <li><a href="">Sub3-Item1</a></li>
                                    <li><a href="">Sub4-Item1</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="">Item2</a>
                            <div class="submenu">
                                <ul>
                                    <li><a href="">Sub1-Item2</a></li>
                                    <li><a href="">Sub2-Item2</a></li>
                                    <li><a href="">Sub3-Item2</a></li>
                                    <li><a href="">Sub4-Item2</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="">Item3</a></li>
                        <li><a href="">Item4</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>-->