<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a [routerLink]="['']"><img src="img/logo.png"></a></h1>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="shopping-item">
                    <!--<a href="cart.html">Cart - <span class="cart-amunt">$0</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">0</span></a>
                    -->
                     <a [routerLink]="['/shopping-cart']">Cart - <span class="cart-amunt">${{shoppingCartService.totalPrice}}</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">{{shoppingCartService.totalQuantity}}</span></a>
                </div>
            </div>
        </div>
    </div>
</div> 