<div class="brands-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="brands-area">
                    <div class="row">
                        <div class="block-product-slider">
                            <ul class="bxslider">
                                <li *ngFor="let item of brandList">
                                    <img src="img/{{item}}" alt="Slide">
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
