<div class="top-viewed">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top-viewed-product">
                    <div class="section-title"><span>Sản phẩm được xem nhiều nhất</span>
                        <a class="wid-view-more" [routerLink]="['single-shop-product-content','san-pham-xem-nhieu']">Xem thêm</a></div>
                    <div class="row">
                        <div *ngFor="let item of listProducts" class="single-product col-md-3">
                            <div class="product-f-image">
                                <img src="/images/san_pham/{{item.hinh_san_pham}}" alt="">
                                <div class="product-hover">
                                    <a class="add-to-cart-link" (click)="AddToCart(item)"><i class="fa fa-shopping-cart"></i>Thêm</a>
                                    <a class="view-details-link" [routerLink]="['single-product-right', item.ma]"><i class="fa fa-link"></i>Xem chi tiết</a>
                                </div>
                            </div>
                            <div class="product-desc">
                                <h2><a [routerLink]="['single-product-right', item.ma]">{{item.ten_san_pham}}</a></h2>

                                <div class="product-carousel-price">
                                    <ins>{{item.don_gia | currency:'VND':true}}</ins>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>